<app-navbar></app-navbar>


	<!--about-->
	<section id="section-about">
		<div class="container">
			<div class="about">
				<div class="row mar-bot40">
					<div class="col-md-offset-3 col-md-6">
						<div class="title">
							<div class="wow bounceIn">
						
							<h2 class="section-heading animated" data-animation="bounceInUp">{{ name }}</h2>
							
						
							</div>
						</div>
					</div>
				</div>
				<div class="row">
			
					<div class="row-slider">
						<div class="col-lg-6 mar-bot30">
							<div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
								<div class="slides" data-group="slides">
									<ul>
  	    		
										<div class="slide-body" data-group="slide">
											<li><img alt="" class="img-responsive" src="assets/img/9.jpg" width="100%" height="350"/></li>
											<li><img alt="" class="img-responsive" src="assets/img/10.jpg" width="100%" height="350"/></li>
											<li><img alt="" class="img-responsive" src="assets/img/11.jpg" width="100%" height="350"/></li>
							
										</div>
									</ul>
										<a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
										<a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>
								
								</div>
							</div>
						</div>
					
						<div class="col-lg-6 ">
							<div class="company mar-left10">
								<h4>Dar Al Andalus , <span>près de Nabeul,</span></h4>
								<p> au cœur d'un parc boisé et d'un verger, une bulle de tranquillité au charme néo andalous qui vous engage dans une autre vision de la Tunisie sereine et culturelle. Terrasse aux multiples espaces et piscine, sur une propriété de 5000m2, la plage toute proche (40 m)en fait une destination estivale qui permet de rayonner au cœur de l'ancienne Ifriqiya et de la contemporaine Tunisie Proximité d'Hammamet médina (15mn) et Nabeul centre (2km).</p>
							</div>
						</div>
					
					</div>	
				</div>
					
			</div>
			
		</div>
	</section>
	<!--/about-->
